spring:
  application:
    name: test-project-oj
  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
    url: jdbc:postgresql://oj-postgres:5432/onlinejudge
    username: onlinejudge
    password: onlinejudge
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  data:
    redis:
      host: oj-redis
      port: 6379

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug